body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d81e05;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

main {
    padding: 20px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dish {
    width: 30%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

button.add-to-cart {
    background-color: #d81e05;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button.add-to-cart:hover {
    background-color: #ff4c32;
}

.reservation {
    margin-top: 30px;
}

form {
    max-width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #d81e05;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #ff4c32;
}
